body {
  font-family: "Quicksand", sans-serif;
  color: #0b0803;
  background-color: #e0cbb4;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.container.page-header {
  padding: 18px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-open-btn {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero {
  padding: 108px 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero > .container {
  max-width: 288px;
}
.hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}
.hero-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn {
  display: block;
  border-radius: 100px;
  padding: 10px 24px;
  border: none;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.welcome {
  padding: 64px 0;
}
.welcome-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;

  margin-bottom: 16px;
}
.journey-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;

  max-width: 288px;
  margin-bottom: 32px;
}
.welcome-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;

  max-width: 288px;
  margin-bottom: 32px;
}

.location-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  outline: none;
  border: none;

  border-radius: 100px;
  padding: 10px 24px;
  max-width: 288px;
  height: 44px;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  margin-bottom: 32px;
}

.welcome-btn-icon {
  fill: #fff;
}

.coffee-kettle-wrapper {
  border-radius: 40px;
  max-width: 288px;
  overflow: hidden;
}
